<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header_fragment">
        <head>
            <meta http-equiv="content-type" content="text/html; charset=UTF-8">
            <meta charset="utf-8">
            <title>SLiPP Java Web Programming</title>
            <!-- width=device-width : 디바이스(pc 포함) 화면에 꽉 맞추어 보여진다.
                 initial-scale=1 : 화면의 zoom up 1배율
                 shrink-to-fit=no : 브라우저 사파리11 일 경우 설정. 화면 크기보다 내용이 크면 잘림. 해당 증상 방지.
             -->
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
            <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
            <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <link th:href="@{/css/styles.css}" rel="stylesheet">
        </head>
    </th:block>
</html>